@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.nav-link {
  font-size: 1.1em !important;
}

.welcome {
  margin: 0 auto;
}

.social a {
  font-size: 4.5em;
  padding: 3rem 3rem 0 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  margin-top: 3.5rem;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer:a {
  color: #d5d5d5;
}

hr.ligth-100 {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/*--- Media Queries --*/
@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .display-4 {
    font-size: 200%;
  }
  .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-indecators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a{
    font-size: 2em;
    padding: .7rem;
  }
}

nav ul li a {
    text-transform: uppercase !important;
    padding: 20px !important;
}

nav ul li a:hover {
    background: red !important;
    color: white !important;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

nav ul li ul {
    display: block !important;
    background: rgba(255, 255, 255, .2) !important;
    min-width: 250px !important;
    position: absolute !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5) !important;
    opacity: 0 !important;
    visibility: hidden !important;
    transition: .5s !important;
    transform: translateY(40px) !important;
}

nav ul li:hover ul {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0px) !important;
}

.navbar {
  padding: 0 0 0 16px !important;
}

section {
    padding-top: 5rem; 
}

.card {
    margin: 1rem;
}

.card:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
